/* Universal Style Importing */
@import url(../style.css);

main {
  max-width: 1500px;
  width: 95%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  margin: 1rem auto;
  color: var(--text);
}

/* Reusable Container Styles */
main section {
  background: var(--background);
  border-radius: 1rem;
}
main section h2 {
  margin-bottom: 1rem;
}

/* Card Styles */
.Coffee-Beans {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.Card-Container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
.Card {
  width: 30%;
  height: 100%;

  padding: 1rem;

  background: var(--background-dark);
  border-radius: 1rem;
  
  transition: 150ms;
  cursor: pointer;
}
.Card h2 {
  margin-bottom: .5rem;
}
.Card:hover {
  scale: 1.020;
}

/* Brewing Methods Styles */
.Brewing-Methods .Card-Container {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 1rem;
grid-row-gap: 1rem;
}

/* Grid Partitions */
.article1 { grid-area: 1 / 1 / 2 / 2; }
.article2 { grid-area: 1 / 2 / 2 / 3; }
.article3 { grid-area: 2 / 1 / 3 / 2; }
.article4 { grid-area: 2 / 2 / 3 / 3; }

.Brewing-Methods .Card {
  width: 100%;
  height: 100%;
  font-size: .9rem;

  cursor: pointer;
}
.Card ol {
  margin-left: 1.5rem;
}

/* Mobile Compatibility */
@media (max-width: 800px) {
  .Card-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .Card {
    width: 100%;
    height: auto;
  }
  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .article1 { grid-area: 1 / 1 / 2 / 3; }
  .article2 { grid-area: 2 / 1 / 3 / 3; }
  .article3 { grid-area: 3 / 1 / 4 / 3; }
  .article4 { grid-area: 4 / 1 / 5 / 3; }
}