/* Universal Style Importing */
@import url(../style.css);

main {
  max-width: 1500px;
  width: 95%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;

  margin: 1rem auto;
  color: var(--text);
}

/* Grid Partitions */
.Introduction-Container { grid-area: 1 / 1 / 2 / 5; }
.Card-Container         { grid-area: 2 / 1 / 4 / 5; }
.Fun-Fact-Container     { grid-area: 1 / 5 / 5 / 6; }
.Overview-Container     { grid-area: 4 / 1 / 5 / 5; }

/* Introduction Styles */
.Introduction-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: var(--background);
  border-radius: 1rem;
}
.Introduction-Container p {
  margin-left: 1rem;
  font-style: italic;
}

/* Card Styles */
.Card-Container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;

  padding-bottom: 1rem;

  background: var(--background);
  border-radius: 1rem;

  overflow-x: auto;
}
.Card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  flex: 0 0 200px;

  border-radius: 1rem;
  background: var(--background);
  height: 300px;
}
.Card img {
  max-height: 70%;
  height: auto;
  width: 100%;

  object-fit: cover;
  border-radius: 1rem;
}

/* Facts Styles */
.Fun-Fact-Container {
  display: flex;
  align-items: start;
  justify-content: center;

  background: var(--background);
  border-radius: 1rem;
}
.Fun-Fact-Container aside {
  padding: 1rem;
}
.Fun-Fact-Container h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.Fun-Fact-Container p {
  font-size: 1.2rem;
  margin-left: .5rem;
}

/* Website Guide Styles */
.Overview-Container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  background: var(--background);
  border-radius: 1rem;
}
.Overview-Container h2 {
  margin-bottom: 1rem;
}
.Overview-Container ul {
  margin-left: 2rem;
  font-weight: 500;
}
.Overview-Container a {
  text-decoration: underline;
  color: var(--hyperlink);
}

/* Tablet Compatibility */
@media (max-width: 1440px) {
  .Introduction-Container { grid-area: 1 / 1 / 2 / 5; }
  .Card-Container         { grid-area: 2 / 1 / 4 / 5; }
  .Fun-Fact-Container     { grid-area: 4 / 1 / 5 / 5; }
  .Overview-Container     { grid-area: 5 / 1 / 6 / 5; }
}