/* Universal Style Importing */
@import url(../style.css);

header {
  max-width: 1500px;
  width: 95%;

  margin: 1rem auto;
  padding: 1.25rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  
  background: var(--background);
  border-radius: 1rem;
}

/* Logo Style */
h2 {
  font-size: 1.5rem;
  color: var(--text);
  margin: 0;
}

/* Nav Bar Styles */
.Navigation-Bar{
  margin-left: auto;
}
.Navigation-Bar ul {
  list-style: none;

  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  gap: .5rem;
}
.Navigation-Bar a{
  text-decoration: none;
  padding: .5rem .75rem;
  border-radius: 8px;
  font-weight: 600;
  color: var(--text);
}
.Navigation-Bar a:Hover {
  background: var(--background-dark);
  scale: 1.050;
}

/* Utility Class */
.active {
  background: var(--background-dark);
}


/* Mobile Sidebar Logic */
#Active-Sidebar {
  display: none;
}
#Open-Sidebar {
  display: none;
}
#Close-Sidebar {
  display: none;
}

/* Mobile Sidebar Query */
@media (max-width: 800px) {

  #Open-Sidebar {
    display: block;
  }
  #Close-Sidebar {
    display: block;
    padding: 1rem 0 0 1rem;
  }
  #Active-Sidebar:checked ~ .Navigation-Bar {
    right: 0;
  }
  .Navigation-Bar {
    position: fixed;
    top: 0;
    right: -100%;

    height: 100%;
    width: 60%;

    background: var(--background-dark);

    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;

    transition: 250ms;
  }
  .Navigation-Bar ul {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    padding: 1rem;

    width: 100%;
    height: 50%;
  }
  .Navigation-Bar a {
    background: var(--background);
    width: 100%;
    padding: 1rem;
  }
}