* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: oklch(20.8% 0.042 265.755);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    margin-bottom: 2rem;
}

.letterButtonContainer {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem .5rem;
    margin-bottom: 2rem;
}

.letterButtonContainer button {
    width: 2rem;
    height: 2rem;
    background-color: oklch(37.2% 0.044 257.287);
    border-radius: .5rem;
    color: white;
    font-size: 1.1em;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.letterButtonContainer button:hover {
    transform: translateY(-1px);
}

.infoBox {
    width: 25%;
    height: 10rem;
    border: 2px dashed white;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    font-size: 1.2em;
    text-align: center;
    margin-bottom: 2rem;
}

.buttonContainer {
    width: 30%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.giveHint, .playAgain {
    width: 50%;
    height: 5rem;

    border: 2px solid white;
    background-color: transparent;
    border-radius: .5rem;

    color: white;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
}

.buttonContainer button:hover {
    transform: translateY(-1px);
}