* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: oklch(20.8% 0.042 265.755);

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.calculator {
    width: 25rem;
    height: 35rem;
    background-color: oklch(27.9% 0.041 260.031);
    border-radius: 1rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.display {
    width: 100%;
    height: 20%;
    background-color: oklch(20.8% 0.042 265.755);
    border-radius: 1rem;
    padding: .5rem;

    color: white;
    font-weight: 600;
    text-align: end;
}

.previous-operation {
    width: 100%;
    height: 40%;

    display: flex;
    justify-content: end;
    align-items: center;

    font-size: 1.3em;
}

.current-operation {
    width: 100%;
    height: 60%;

    display: flex;
    justify-content: end;
    align-items: center;

    font-size: 2em;
}



.keypad {
    width: 100%;
    height: 80%;
    background-color: oklch(20.8% 0.042 265.755);
    border-radius: 1rem;
    padding: .5rem;

    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: .3rem;
}

button {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    border: 0;
    background-color: oklch(37.2% 0.044 257.287);
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    transition: 150ms;
    user-select: none;
    outline: none;
}

button:hover {
    background-color: oklch(32.211% 0.03838 257.794);
}

.span-two {
    grid-column: span 2;
}
.orange {
    background-color: oklch(68.323% 0.12993 65.803);
}
.orange:hover {
    background-color: oklch(61.674% 0.12404 64.17);
}