@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
}

body {
    background: #191919;

    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.form {
    width: 20rem;
    height: fit-content;

    background: #111;
    padding: 1rem;
    margin: 5rem 0;
    border-radius: .5rem;

    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
}

.form input, select, textarea, button{
    width: 100%;
    height: 2rem;

    background: #191919;
    outline: none;
    border: none;
    color: #fff;
    padding: .2rem;
}

.form textarea {
    resize: vertical;
    height: 100px;
}

.form button {
    cursor: pointer;
}

.cardContainer {
    /* background: lightblue; */
    width: 90%;
    height: fit-content;

    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.reminder {
    background: #111;
    color: #fff;
    padding: 1rem;

    border: 4px solid #000;
    border-radius: .5rem;
    width: 15rem;
    height: 20rem;
}

#priority {
    background-color: #000;
    width: 40%;
    text-align: center;
    border-radius: .5rem;
    padding: .2rem .5rem;
}

.hidden {
    display: none;
}