/* Universal Style Importing */
@import url(../style.css);

main {
  max-width: 1500px;
  width: 95%;

  margin: 1rem auto;
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Promotions-Container {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  background: var(--background);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

/* Grid Partitions */
#card1 { grid-area: 1 / 1 / 2 / 2; }
#card2 { grid-area: 1 / 2 / 2 / 3; }
#card3 { grid-area: 1 / 3 / 2 / 4; }
#card4 { grid-area: 1 / 4 / 2 / 5; }

/* Promotion Card Styles */
.Promotion {
  width: 100%;
  height: 100%;

  background: var(--background-dark);
  border: 3px solid var(--text);
  border-radius: 1rem;

  text-align: center;
  overflow: hidden;
}
.Promotion img {
  width: 100%;
}
.Promotion h3 {
  font-weight: 700;
  color: var(--text);
  margin: .5rem 0;
}
.Promotion p {
  font-weight: 500;
  color: var(--text);
  margin: .5rem 0;
}
.Button {
  padding: .5rem 1rem;

  background: none;
  border: none;
  
  color: var(--text);
  font-weight: 600;

  cursor: pointer;
  transition: 150ms;
}
.Button:hover {
  transform: translateY(-2px);
}

/* Order Form Styles */
.Order-Section {
  padding: 0;
}

form {
  width: 25%;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  background-color: var(--background);
  border-radius: 1rem;

  color: var(--text);
  font-weight: bold;
}
select, input, button {
  padding: 0.5rem;
  border-radius: 6px;
  font-size: 1rem;
}
button {
  background-color: #5ebd96;
  border: none;

  color: var(--text);
  cursor: pointer;
}

/* Tablet Compatibility */
@media (max-width: 1400px) {
  form {
    width: 50%;
  }
}

/* Mobile Compatibility */
@media (max-width: 800px) {
  .Promotions-Container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  #card1 { grid-area: 1 / 1 / 2 / 2; }
  #card2 { grid-area: 1 / 2 / 2 / 3; }
  #card3 { grid-area: 2 / 1 / 3 / 2; }
  #card4 { grid-area: 2 / 2 / 3 / 3; }

  form {
    width: 100%;
  }
}

