* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: oklch(20.8% 0.042 265.755);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    margin-bottom: 1rem;
}

div {
    width: 40rem;
    height: 20rem;
    background-color: oklch(27.9% 0.041 260.031);
    border-radius: 1rem;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    gap: 1rem;
}

textarea {
    resize: none;
    height: 100%;
    width: 50%;

    background-color: oklch(37.2% 0.044 257.287);
    color: white;

    font-size: 1.2em;
    font-weight: 600;

    border-radius: .5rem;
    border: none;
    outline: none;
    padding: 1rem;
}