* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: oklch(20.8% 0.042 265.755);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: brown;
    font-weight: 600;
    margin: 1rem 0 3rem 0;
}

.input-Container {
    background-color: oklch(27.9% 0.041 260.031);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

input {
    height: 2rem;
    border-radius: .5rem;
    padding: 1rem;
    border: none;
    outline: none;
    background-color: oklch(37.2% 0.044 257.287);
    color: white;
    font-weight: 600;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
    width: 6rem;
    height: 2rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    background-color: oklch(37.2% 0.044 257.287);
    color: white;
    font-weight: 600;
    cursor: pointer;
}

table, th, td, tr {
    border: 2px solid rgb(196, 196, 196);
    border-collapse: collapse;
    padding: .5rem;
    background-color: oklch(37.2% 0.044 257.287);
}

