/* Universal Style Importing */
@import url(../style.css);

footer {
  max-width: 1500px;
  width: 95%;

  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: repeat(2, 1fr);

  color: var(--text-dark);
  font-weight: 500;

  padding: 2rem 2rem 0 2rem;
  margin: 2rem auto 0 auto;

  border-top: 1px solid var(--text-dark);
}

/* Grid Partitions */
.Links-Section       { grid-area: 1 / 1 / 2 / 2; }
.Inquiry-Section     { grid-area: 2 / 1 / 3 / 2; }
.Description-Section { grid-area: 1 / 2 / 2 / 3; }

/* Footer Styles */
footer h2 {
  margin-bottom: 0.75rem;
  color: var(--text-dark);
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer li {
  margin-bottom: 0.5rem;
}
footer a {
  text-decoration: underline;
  color: var(--hyperlink);
}
footer p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.Copyright {
  font-size: .8rem;
  color: #4d4d4d;
}

/* Mobile Compatibility */
@media (max-width: 900px) {
  footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .Description-Section,
  .Links-Section,
  .Inquiry-Section {
    grid-area: auto;
  }
}